<h2>Pictureお気に入り一覧画面</h2>
<table>
    <tr>
        <th>Image</th>
        <th>Content</th>
    </tr>
    <tr>
        <% @favorites.each do |favorite| %>
    <tr>
        <td><%= image_tag(favorite.picture.image.url,size:"80x80") %></td>
        <td><%= favorite.picture.content %>
        <% end %>
    </tr>
</table>
