<h1><%= @user.name %>のページ</h1>
<p>Profile画像:<%= image_tag(@user.image.url,size:"80x80") if @user.image && @user.image.url %>
<p>メーアドレス:<%= @user.email %></p>


      <% if current_user.id == @user.id %>
          <%= link_to 'Profileを編集する',edit_user_path(@user.id) %>
      <% end %>

